@import url('https://db.onlinewebfonts.com/c/f5bd594fdf1873d09eff1f4718ff2141?family=Freestyle+Script');
@import url('https://db.onlinewebfonts.com/c/9e23421978544d8e00a00eb47740d280?family=High+Tower+Text');
@import url('https://db.onlinewebfonts.com/c/d440835ef404a78ae46096c6ce016ba3?family=Centaur');
@import url('https://db.onlinewebfonts.com/c/f3077c21790d7835da194a845217f8ce?family=Baskerville+Old+Face+BQ');
@import url('https://db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI');
$primaryFont: "Freestyle Script";
$secondaryFont: "High Tower Text";
$tertiaryFont: "Centaur";
$quaternaryFont: "Baskerville Old Face";
$quinaryFont: "Segoe UI";
$primaryColor: #ff6767;
$secondaryColor: #fec8c8;
$tertiaryColor: #ffeeee;
$others: #eef6fc;
