@font-face {
  font-family: 'Freestyle Script';
  src: url("../assets/fonts/FREESCPT.TTF");
}
@font-face {
  font-family: 'High Tower Text';
  src: url("../assets/fonts/HTOWERT.TTF");
}
@font-face {
  font-family: 'Centaur';
  src: url("../assets/fonts/CENTAUR.TTF");
}
@font-face {
  font-family: 'Baskerville Old Face';
  src: url("../assets/fonts/BASKVILL.ttf");
}
@font-face {
  font-family: 'Segoe UI';
  src: url("../assets/fonts/Segoe\ UI.ttf");
}
$primaryFont: "Freestyle Script";
$secondaryFont: "High Tower Text";
$tertiaryFont: "Centaur";
$quaternaryFont: "Baskerville Old Face";
$quinaryFont: "Segoe UI";
$primaryColor: #ff6767;
$secondaryColor: #fec8c8;
$tertiaryColor: #ffeeee;
$others: #eef6fc;
