@import '../../../styles/variables.scss';
@import '../../../styles/animaciones.scss';
//Minute devices
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    background: rgb(195, 63, 95) !important;
    background: linear-gradient(90deg, rgba(195, 63, 95, 1) 20%, rgba(196, 59, 71, 1) 68%) !important;
    #content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 80%;
            background-color: transparent;
            #logo {
                text-align: center;
                margin: 0 50px 0 20px;
                padding-top: 0.2em;
                padding-left: 0.5em;
                width: 100vw;
                font-family: $primaryFont;
                font-size: 4em;
                color: white;
            }
            input {
                margin-top: 0.8em;
                width: 100%;
                height: 2.5em;
                border: none;
                background-color: rgb(255, 255, 255, 0.09);
                color: white;
            }
            input:focus {
                box-shadow: none;
                border: 1px solid rgb(255, 255, 255, 1);
            }
             ::placeholder {
                color: white;
                opacity: 1;
                font-size: 0.9em !important;
            }
            small {
              font-size: 0.7em;
              color: rgb(100, 0, 0);
            }
            button {
                margin-top: 0.8em;
                width: 100%;
                height: 2.4em;
                border: 1px solid rgb(255, 255, 255, 0.3);
                background-color: transparent;
                font-size: 0.9em;
                color: rgb(255, 255, 255, 0.3);
            }
            button:hover {
                border-color: white;
                color: white;
            }
            span {
                margin-top: 0.8em;
                a {
                    font-size: 0.9em;
                    color: white;
                }
                a:hover {
                    color: $primaryColor;
                }
            }
            #hrs {
                display: flex;
                flex-direction: row;
                width: 100%;
                hr {
                    margin: 1em 5px 0 5px;
                    width: 100%;
                    height: 1.5px;
                    border-top: 1px solid rgb(255, 255, 255, 1);
                    border-bottom: 1px solid rgb(255, 255, 255, 1);
                }
                p {
                    margin-top: 0.25em;
                    color: white;
                }
            }
            #register {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0.6em;
                height: 40px;
                width: 100%;
                border: 1px solid rgb(255, 255, 255, 0.3);
                border-radius: 4px;
                background-color: transparent;
                p {
                    margin: 0;
                    font-size: 0.9em;
                    color: white;
                }
                a {
                    font-size: 0.9em;
                    color: $primaryColor;
                }
            }
            #descargar {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2.5em;
                h5 {
                    font-family: $secondaryFont;
                    font-size: 1em;
                    color: white;
                }
                span {
                    display: block;
                    margin-top: 0.5em;
                    width: 5em;
                    height: 3em;
                    background: url('../../../assets/img/descargarLogin.png') no-repeat;
                    background-size: contain !important;
                }
                span:hover {
                    background-image: url('../../../assets/img/descargarLoginHover.png');
                }
            }
        }
    }
    footer {
        text-align: center;
        margin-top: 0.5em;
        padding-top: 3px;
        width: 100vw;
        border: 1px solid;
        border-color: rgb(255, 255, 255, 0.3);
        background-color: rgb(255, 255, 255, 0.05);
        a,
        p {
            font-size: 0.9em;
        }
        a {
            color: white;
        }
        a:hover {
            color: $primaryColor;
        }
        p {
            margin-top: 5px;
            color: white;
        }
    }
    a {
        text-decoration: none;
    }
}

//Small devices
@media (min-width: 375px) {
    #container {
        font-size: 18px;
         ::placeholder {
            font-size: 1.1em !important;
        }
    }
}

//Medium devices
@media (min-width: 766px) {
    #container {
        font-size: 28px;
        form {
            width: 75% !important;
             ::placeholder {
                font-size: 1.3em !important;
            }
        }
    }
}

//Large devices
@media (min-width: 992px) and (min-height: 767px) {
    #container {
        min-height: -webkit-fill-available !important;
        font-size: calc(2.1vh - 0.05vw);
        background: none !important;
        #content {
            height: 90vh;
            background: url('../../../assets/img/movil.png') no-repeat center !important;
            background-size: contain !important;
            form {
                justify-content: center;
                #logo {
                    padding-top: 0 !important;
                }
                #register,
                input,
                button,
                #hrs {
                    width: 30vh !important;
                    height: calc(4.8vh - 0.1vw);
                }
                input:last-of-type,
                button {
                    margin-top: calc(1.3vh - 0.1vw);
                }
                 ::placeholder {
                    font-size: calc(1.5vh - 0.1vw) !important;
                }
            }
        }
        footer {
            margin: 0 !important;
            padding: 0 !important;
            border: none;
            background-color: transparent;
            p {
                margin-top: 10px;
            }
        }
    }
}

.error {
  border: 1px solid rgba(156, 0, 0, 0.7) !important;
  background-color: rgb(100, 0, 0, 0.7) !important;
}

.success {
  border: none;
}
