<div class="container-fluid" id="container">
    <div id="content">
        <form [formGroup]="form" (ngSubmit)="login()">
            <h1 class="focus-in-expand" id="logo">SocialNet</h1>
            <input
              class="form-control"
              id="email"
              formControlName="email"
              type="email"
              placeholder="Correo Electronico"
              autocomplete="off"
              [ngClass]="invalid('email') ? 'error' : 'success'"
            >
            <small *ngIf="invalid('email')">Introduce un email valido</small>
            <input
              class="form-control"
              id="password"
              formControlName="password"
              type="password"
              placeholder="Contraseña"
              [ngClass]="invalid('password') ? 'error' : 'success'"
            >
            <small *ngIf="invalid('password')">Introduce una contraseña valida</small>
            <button class="btn" type="submit">Iniciar sesión</button>
            <span><a href="">¿Olvidaste tu contraseña?</a></span>
            <div id="hrs">
                <hr>
                <p>O</p>
                <hr>
            </div>
            <div id="register">
                <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
            </div>
            <div id="descargar">
                <h5>Descargar para iOS/Android.</h5>
                <a routerLink=""><span></span></a>
            </div>
        </form>
    </div>
    <footer>
        <a routerLink="/info">Información</a>
        <p>© 2021 SocialNet</p>
    </footer>
</div>
