@import '../../../styles/variables.scss';
//Minute devices
#container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    min-height: 100vh;
    #header {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: url('../../../assets/img/headerImg.jpg') no-repeat center;
        background-size: cover;
        #logo {
            display: flex;
            flex-direction: row;
            padding: 10px 50px 0 15px;
            text-decoration: none;
            color: black;
            img {
                width: 3.5em;
                height: 3.5em;
            }
            h1 {
                padding: 0.1em 0 0 0.1em;
                font-family: $primaryFont;
                font-size: 3em;
                color: white;
            }
        }
        #textoHeader {
            align-self: center;
            margin: 20px 0 0 0;
            width: 10em;
            font-family: $secondaryFont;
            font-size: 1.6em;
            color: white;
            -webkit-text-stroke-width: 0.01em;
            -webkit-text-stroke-color: white;
        }
    }
    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        background-color: white;
        h1 {
            margin-top: 10px;
            font-family: $primaryFont;
            font-size: 4em;
        }
        h3 {
            text-align: center;
            width: 90vw;
            font-family: $secondaryFont;
            font-size: 1.5em;
        }
        #carousel {
            display: flex;
            flex-direction: column;
            #slider {
                display: flex;
                span {
                    margin-top: 13em;
                    i {
                        cursor: pointer;
                        color: $primaryColor;
                        font-size: 1.4em;
                    }
                }
                span:first-child {
                    padding-right: 0.5em;
                }
                span:last-child {
                    padding-left: 0.5em;
                }
                .tarjeta {
                    margin-top: 25px;
                    width: 14em;
                    height: 23.5em;
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                    img {
                        width: 100%;
                        height: 60%;
                    }
                    p,
                    small {
                        margin: 5px 0 0 15px;
                    }
                    p {
                        font-family: $tertiaryFont;
                        font-size: 1em;
                    }
                    small {
                        font-family: $quaternaryFont;
                        font-size: 0.7em;
                    }
                }
            }
            #posicion {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                span {
                    margin: 3px;
                }
            }
        }
        #descargar {
            text-align: center;
            margin: 20px 0 10px 0;
            img {
                width: 9em;
                height: 6em;
            }
            h5 {
                font-family: $secondaryFont;
                font-size: 1.3em;
            }
        }
    }
    footer {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        height: 4em;
        background-color: $others;
        #logoFooter {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            padding: 0.5em 0 0 10px;
            color: black;
            img {
                width: 1.5em;
                height: 1.5em;
            }
            h1 {
                padding: 0.3em 0 0 0.2em;
                font-family: $primaryFont;
                font-size: 1.2em;
            }
        }
        #enlaces {
            flex-grow: 1;
            padding: 1.7em 0 0 1.5em;
            line-height: 3px;
            p {
                font-family: $quaternaryFont;
                font-size: 0.6em;
            }
        }
        small {
            align-self: flex-end;
            font-family: $quaternaryFont;
            font-size: 0.6em;
            padding: 0 10px 5px 0;
        }
    }
}

//Class
.activo {
    color: $primaryColor;
}

.inactivo {
    color: gray;
}

.color1 {
    background-color: $secondaryColor;
}

.color2 {
    background-color: $tertiaryColor;
}

//Small devices
@media (min-width: 375px) {
    #container {
        font-size: 20px;
    }
}

//Medium devices
@media (min-width: 768px) {
    #container {
        font-size: 23.5px;
        #textoHeader {
            font-size: 2em !important;
        }
        footer {
            #enlaces {
                display: flex;
                flex-direction: row;
                p:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}

//Large devices
@media (min-width: 992px) {
    #container {
        font-size: 28px;
        #textoHeader {
            align-self: initial !important;
            margin: 20px 0 0 10px !important;
            font-size: 1.6em !important;
        }
    }
}

//Extra large devices
@media (min-width: 1200px) {
    #container {
        font-size: 32px;
        #textoHeader {
            margin: 20px 0 0 25px !important;
        }
    }
}